<div class="container">
    <footer
  class="bg-white d-lg-flex justify-content-around align-items-center text-center">
  <div class="address text-black p-4 m-4">
    <h2 class="fw-bolder">LOCATION</h2>
    <h6>2215 John Daniel Drive</h6>
    <h6>Clark, MO 65243</h6>
  </div>
  <div class="socila text-black p-4 m-4">
    <h2 class="fw-bolder">AROUND THE WEB</h2>
    <div class="icon d-flex justify-content-around mt-3 fw-bold fs-3">
      <span><i class="fa-brands fa-facebook"></i></span>
      <span><i class="fa-brands fa-linkedin-in"></i></span>
      <span><i class="fa-brands fa-twitter"></i></span>
    </div>
  </div>
  <div class="about text-black p-4 m-4">
    <h2 class="fw-bolder mb-4">ABOUT FREELANCER</h2>
    <h6>
      Freelance is a free to use, licensed Bootstrap theme created by Route
    </h6>
  </div>
</footer>

</div>
