<div class="container">
  <nav class="navbar navbar-expand-lg bg-body-white">
    <div class="container-fluid p-4">
      <a class="navbar-brand fw-bolder fs-3 ms-5 pe-5" routerLink="home"
        >Start Framework</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 m-auto fw-bolder fs-5 ps-4">
          <li class="nav-item ms-5">
            <a
              class="nav-link"
              routerLink="about"
              routerLinkActive="bg-dark text-white rounded-pill"
              >About</a
            >
          </li>
          <li class="nav-item ms-5">
            <a
              class="nav-link"
              routerLink="portfolio"
              routerLinkActive="bg-dark text-white rounded-pill"
              >portfolio</a
            >
          </li>
          <li class="nav-item ms-5">
            <a
              class="nav-link"
              routerLink="contact"
              routerLinkActive="bg-dark text-white rounded-pill"
              >conatct</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
