<div class="bg-dark vh-100">
  <div class="container">
    <div class="d-flex justify-content-center p-3 flex-wrap">
      <div class="home">
        <h1 class="text-white fw-bold fs-1 p-4">contact component</h1>
        <div class="d-flex m-2">
          <div class="line"></div>
          <span class="text-white"><i class="fa-solid fa-star"></i></span>
          <div class="line"></div>
        </div>
      </div>
    </div>

    
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label text-white"
          >userName</label
        >
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="user name"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label text-white"
          >userAge</label
        >
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Age"
        />
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label text-white"
          >Email address</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="name@example.com"
        />
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label text-white"
          >user password</label
        >
        <input
          type="password"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="password"
        />
    
    </div>
  </div>
</div>
