<div class="bg-black">
  <div class="container">
    <div class=" d-flex justify-content-center p-3 flex-wrap">
      <div class="home">
        <h1 class="text-white fw-bold fs-1">portfolio component</h1>
        <div class="d-flex m-2">
          <div class="line"></div>
          <span class="text-white"><i class="fa-solid fa-star"></i></span>
          <div class="line"></div>
        </div>
      </div>
      <div class="row g-4 p-4">
        <div class="col-lg-4">
          <div class="card">
            <img class="w-100" src="./assets/imgs/poert1.png" alt="" />
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <img class="w-100" src="./assets/imgs/poert1.png" alt="" />
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <img class="w-100" src="./assets/imgs/poert1.png" alt="" />
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <img class="w-100" src="./assets/imgs/poert1.png" alt="" />
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <img class="w-100" src="./assets/imgs/poert1.png" alt="" />
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <img class="w-100" src="./assets/imgs/poert1.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
